.App {
  margin-left: 15px;
}

.autocomplete-container {
  width: 260px;
}

.result-container {
  max-height: 254px;
  width: 260px;
  margin-top: 0px;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  position: absolute;
  background-color: white;
  z-index: 2
}

.result-container span {
  width: 240px;
  padding-right: 18px;
  display: list-item;
  border-left: solid 1px silver;
  border-right: solid 1px silver;
}

.result-container span:hover {
  background-color: #c0c0c0;
}

.result-container span:last-child {
  border-bottom: solid 1px silver;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
